.favBeers {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* wycentrowanie elementów w poziomie */
  gap: 1%; /* odstęp między elementami */
  
}
.favBeers img {

    max-width: 10%;
    height: auto;

}
.favBeer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc((100% - 80px) / 5); 
  border: 1px solid black;
  margin-bottom: 1%;
}
.favBeer a {
  text-decoration: none;
  color: orange;
}
.title {
  width: 80%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}