.favBeers {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* wycentrowanie elementów w poziomie */
  gap: 20px; /* odstęp między elementami */
  
}
.favBeers img {

    max-width: 10%;
    height: auto;

}
.favBeer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc((100% - 80px) / 5); /* obliczenie szerokości elementów */
}

.title {
  width: 80%;
  display: flex;
  align-items: center;
}