.choosedBeer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 20%;
    max-height: 60%;
  }

  .choosedBeerImage {
    width: 100%;
    max-width: 10%;
    max-height: 100%;
  }
  
  .choosedBeerImage img {
    width: 100%;
    height: 100%;
  }